body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}
#mapid {
  height: 100%;
}
/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
header img {
  height:100px;
  /* margin-left: 30px; */
}

body {
  background-color: #192841;
  font-family: sans-serif;
  margin-top: 0px;
  padding: 30px;
}

main {
  color: white;
}

.title {
  color: white;
  text-align: center;
}

header {
  background-color: 192841;
  /* position:fixed; */
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin:20px;
}

header li a {
  color: white;
  text-decoration: none;
}

div {
  /* top: 80px; */
  border-radius: 25px;
  max-height: 950px;
}