body {
  padding: 0px;
  margin: 0px;
}

#map,
body,
html {
  height: 100%;
}

.large-popup {
  width: 500px;
  height: 300px;
}
.leaflet-bottom.leaflet-left {
  width: 100%;
}
.leaflet-control-container .leaflet-timeline-controls {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}